:root {
    box-sizing: border-box;
    margin: 0;
    padding: 0;

    background-color: var(--black);
}

/*
    Units - w321 h376
    Comp Type - w1215 h165
    Comps - w1215 h820
    Components - w321 h229
    Artifacts Sugg - w325 h383
    Artifacts Open - w325 h180
    Augments - w321 h563
    Emblems - w321 h257
    Opener - w321 h180
    Name - w321 h165

    Tier 1 - w96 h46
    Tier 2 - w96 h46
    Tier 3 - w96 h46
*/