:root {
    --primary: #d905fa;
    --primary-100: #b804d4;
    --primary-200: #8b0d9e;
    --primary-300: #5a0b66;
    --primary-400: #3f0a47;

    --secondary: #5a0bb5;
    --secondary-100: #4b0d91;
    --secondary-200: #380e69;
    --secondary-300: #250c42;

    --white: #ebe6f0;
    --black: #151515;

    --gray: #9b989e;
    --gray-100: #706e73;
    --gray-200: #454447;

    font-family: "Advent Pro", sans-serif;

    /*
    Augments Buttons Tier 1 - 6d8ba1
    Augments Buttons Tier 2 - ffd900
    Augments Buttons Tier 3 - d28eff

    Comp Type 1c reroll - cccccc
    Comp Type 2c reroll - 00ff37
    Comp Type 3c reroll - 2885ff
    Comp Type fast 8 - d428ff
    Comp Type fast 9 - ffff2b
    Comp Type cash out - ff8228
    */
}